header {
    background: #BBBBBB;
    padding: 20px 0; /* 20px para cima e para baixo, 0 para direita e para esquerda*/
    /* coloquei o padding para que tudo dentro dele esteja nesses limites, não quero que nada dentro do cabeçalho chegue na margem */
}

.caixa {
    position: relative;
    width: 940px; /* largura fixa da div */
    margin: 0 auto; /* 0 para cima e para baixo, auto para direita e para esquerda*/
}

nav {
    position: absolute; /*Com o position: absolute, eu consigo posicionar meu elemento em qualquer lugar da página.*/
    top: 110px; /* alinhar centro da imagem*/
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /* 1º topo, depois direita, depois para baixo e por último esquerda, espaçamento externo */
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

footer {
    text-align: center;
    background: url("../img/produtos/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}